@import "../../../../assets/styles/variables.scss";

.p-card-card {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.p-card {
  background-color: rgba(255, 255, 255, 0.1) !important;
  color: black !important;
  border: 1px solid #ccc !important;
  border-radius: 8px !important;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1) !important;
}

.p-card-title {
  color: $color-form;
}

.p-inputtext {
  background-color: white;
}

.p-inline-message {
  background-color: white;
  color: $color-form;
}

.info-text {
  font-size: 0.85rem; /* Tamaño de fuente pequeño por defecto */
  color: $color-form; /* Un color de texto sutil */

  p {
    margin: 0.5rem 0; /* Espaciado entre líneas */
  }
}

.labelpass {
  color: $color-form !important;
}

p {
  color: $color-form !important;
}

.back-login {
  margin: auto;
}
button {
  font-size: 1rem;
  background-color: $color-form;
  color: rgb(133, 15, 15);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
}

button:hover {
  background-color: #cf3852; /* Cambiar color al pasar el ratón */
}

.login-link {
  text-align: center;
  margin-top: 1rem;

  a {
    color: $body-color2;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      color: $color-form;
    }
    cursor: pointer;
  }

  p {
    font-size: 0.9rem;
  }
}

@media (min-width: 1024px) {
  .info-text {
    font-size: 0.9rem;
    text-align: center;
  }
}
