<app-form-navbar></app-form-navbar>
<p-card header="Recuperar Contraseña" class="p-card-card">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="p-fluid">
      <div class="p-field">
        <div class="info-text">
          <p>¿Tienes problemas para iniciar sesión?</p>
          <p>
            Ingresa tu correo electrónico y te enviaremos un enlace para que
            recuperes el acceso a tu cuenta.
          </p>
        </div>
        <br />

        <input
          id="email"
          type="email"
          pInputText
          formControlName="email"
          placeholder="Introduce tu correo electrónico"
        />

        <p-message
          *ngIf="email?.invalid && (email?.dirty || email?.touched)"
          severity="error"
        >
        </p-message>
      </div>
      <br />
      <button type="submit" label="Enviar" [disabled]="form.invalid">
        Enviar
      </button>
      <div class="login-link">
        <p>
          ¿Recuperaste tu cuenta?
          <a [routerLink]="['/login']">Vuelve al inicio de sesión</a>
        </p>
      </div>
    </div>
  </form>
</p-card>
