//colores
$primary-color: #f6f2e9;
$white-color: white;
$gray-color: rgb(232, 232, 232);
$third-white: rgb(247, 247, 247);
$yellow-color: #f2bb13;
$secondary-color: white;
$navbar-color: #0d0d0d;
$filter-color: #ff0000;
$wine-color: #510d0d;
$body-color: #0d0d0d;
$body-color2: #f20505;
$base-color: #323232;
$black-color: black;
$button-background-hover: #0056b3;
$button-background: #007bff;
$color-form: #ececec;

//tamaños
$default-height: 100vh;
$default-width: 100%;
$default-padding: 1rem;
$default-margin: 1rem;
